*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:hsl(229, 57%, 11%) ;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
.main{
    position: relative;
    top:50vh;
    height:50vh;
    background: url("/images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.cta{
    height:180px;
    width:320px;
    position: relative;
    bottom:100px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 5%;
    border-top-right-radius: 100px;
    margin:10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    padding: 2rem;

}

.logo{
    padding-left: .3rem;
    margin-bottom: .5rem;
    height:35px;

}
.cta-options{
    display: flex;
}
.cta1, .cta2, .cta3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height:40px;
    width:40px;
    border-radius: 5px;
    background-color: hsl(229, 57%, 11%);
}
.data-details{
    height:120px;
    width:520px;
    position: relative;
    bottom:70px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 8px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.data-details p{
   align-self: flex-start;
   padding-left: 10%;
   padding-bottom: 5px;
   margin: 5px;
   font-size: .8rem;
   font-weight: lighter;

}
.dds1{

    opacity: .5;
}
.dds2{
    opacity: .8;
}

.progress-bar{
    width:80%;
    height:17px;
    background-color: hsl(229, 57%, 11%);
    border-radius:8px ;
}
.popup{
    position: absolute;
    right: 205px;
    bottom: 165px;
}
.warn-popup{
    color: #292929;
    position: absolute;
    width:150px;
    height:60px;
    border-radius: 10px 10px 0 10px;
    background-color: #fff;
    padding-top: 6px;
    text-align: center;
}
.warn-popup::after{
    content: "";
    width: 0;
    height: 0;
    border-top: 40px solid white;
    border-left: 30px solid transparent;
    position: absolute;
    bottom: -15px;
    right:0px;
    
}
.wps1{
    font-weight: 700;
    font-size: 2rem;
}
.wps2{
    font-weight: 400;
    font-size: .8rem;
}
.progress{
    position: relative;
    width:80%;
    height:17px;
    border-radius:8px;
    background-image: linear-gradient(
        to right, 
        hsl(6, 100%, 80%), hsl(335, 100%, 65%)
      );
      border:2px solid hsl(229, 57%, 11%);
    
}
.progress-dot{
    position: absolute;
    top:1px;
    right:1px;
    width:10px;
    height:10px;
    border-radius:50%;
    background-color: #fff;
}
.limits{
    width:80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: .7rem;
    margin: 5px;
}
.attribution {
    position: absolute;
    bottom: 5px;
    left:40%;
    font-size: 11px;
}
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-width:375px){
    body{
        background: url("/fylo-data-storage-component-master/images/bg-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .main{
        background-image: none;
        position: relative;
        top:30vh;
        padding:3%;
    }
    /* .main-content{

    } */
    .cta{
        margin: 5%;
        margin-bottom: -20px;
    }
    .data-details{
        height:180px;
    }
    .popup{
        
        position: absolute;
        bottom: 20%;
        left: 20%;
    }
    .warn-popup{
        color: #292929;
        position: absolute;
        width:150px;
        height:60px;
        border-radius: 10px 10px 10px 10px;
        background-color: #fff;
        padding-top: 6px;
        text-align: center;
    }
    .warn-popup::after{
        content: none;
        
    }
    .attribution{
        position: absolute;
        bottom: 5%;
        left:19%;
        font-size: .6rem;
    }
}
@media screen and (max-width:420px) and (min-width:376px){
    body{
        background: url("/fylo-data-storage-component-master/images/bg-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
    }
    .main{
        background-image: none;
        position: relative;
        top:30vh;
        padding:3%;
    }
    /* .main-content{

    } */
    .cta{
        margin: 5%;
        margin-bottom: -20px;
        width: 80vh;
    }
    .data-details{
        height:180px;
    }
    .popup{
        
        position: absolute;
        bottom: 20%;
        right:75%;
    }
    .warn-popup{
        color: #292929;
        position: absolute;
        width:150px;
        height:60px;
        border-radius: 10px 10px 10px 10px;
        background-color: #fff;
        padding-top: 6px;
        text-align: center;
    }
    .warn-popup::after{
        content: none;
        
    }
    .attribution{
        position: absolute;
        bottom: 3%;
        left:15%;
        font-size: 11px;
    }
}